# Ignore Android Studio/IntelliJ specific files
.idea/
*.iml
*.iws
*.ipr
*.xml

# Ignore build folder
build/

# Ignore Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

# Ignore logs
*.log

# Ignore the deploymentTargetSelector.xml file
deploymentTargetSelector.xml

# Ignore Kotlin specific files
*.kotlin_metadata

# Ignore other specific files and folders
*.DS_Store
/captures
/externalNativeBuild
/cxx
local.properties

# Ignore Java and Kotlin output
*.class
*.bin

# Generated Java/Kotlin build files
/.gradle/file-system.probe
/.gradle/8.6/dependencies-accessors/bdf1112bdd7bcfce22944116733c4d6d8aa7e789/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.6/dependencies-accessors/bdf1112bdd7bcfce22944116733c4d6d8aa7e789/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.6/checksums/checksums.lock
/.gradle/config.properties
/.gradle/8.6/executionHistory/executionHistory.lock
/.gradle/8.6/fileHashes/fileHashes.lock
/.gradle/8.6/dependencies-accessors/gc.properties
/.gradle/8.6/gc.properties
/.gradle/vcs-1/gc.properties
