# Ignore Android Studio/IntelliJ specific files
.idea/
*.iml
*.iws
*.ipr
*.xml

# Ignore build folder
build/

# Ignore Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

# Ignore logs
*.log

# Ignore the deploymentTargetSelector.xml file
deploymentTargetSelector.xml

# Ignore Kotlin specific files
*.kotlin_metadata

# Ignore other specific files and folders
*.DS_Store
/captures
/externalNativeBuild
/cxx
local.properties

# Ignore Java and Kotlin output
*.class
*.bin

# Generated Java/Kotlin build files
/.gradle/file-system.probe
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/config.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.13/checksums/checksums.lock
/.gradle/8.13/executionHistory/executionHistory.lock
/.gradle/8.13/fileHashes/fileHashes.lock
/.gradle/8.13/gc.properties
