# Ignore Android Studio/IntelliJ specific files
.idea/
*.iml
*.iws
*.ipr
*.xml

# Ignore build folder
build/

# Ignore Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

# Ignore logs
*.log

# Ignore the deploymentTargetSelector.xml file
deploymentTargetSelector.xml

# Ignore Kotlin specific files
*.kotlin_metadata

# Ignore other specific files and folders
*.DS_Store
/captures
/externalNativeBuild
/cxx
local.properties